name: Docs

on:
  release:
   types: [ released ]
  workflow_dispatch:

jobs:
  build:
    name: Build Docs
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: main
          fetch-tags: false
      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          environments: docs
          activate-environment: true
      - name: Build docs
        run: pixi run deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
